.site-container {
    max-width: 1312px;
}

.menu-button {
    width: 30px;
    height: 30px;
}

.logo {
    max-height: 80px;
}

.bg-yellow-950 {
    background-color: rgb(66 32 6);
}

.banner {
    background: linear-gradient(360deg,
            rgba(66, 32, 6, 0.65) 0%,
            rgba(66, 32, 6, 0.8) 80%,
            rgb(66 32 6) 100%),
        url(https://mediaim.expedia.com/destination/2/bcab83f2c8873b4fd8b21f23439abdf7.jpg);
    background-position: center;
    background-size: cover;
}

.copy {
    max-width: 768px;
}

.primary-button:hover {
    background-color: rgb(102, 57, 16);
}

.bg-off-white {
    background-color: #f5f5f4;
}

@media only screen and (max-width: 767px) {
    .lifestyle-img {
        max-height: 150px;
    }
}

@media only screen and (min-width: 768px) {
    .lifestyle-img {}
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(116,66,16,255)' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

input[type="radio"] {
    accent-color: rgba(116, 66, 16, 255);
}

select,
input,
textarea {
    border-style: inset;
    outline-color: rgba(116, 66, 16, 255);
}

textarea {
    height: 300px;
}

/* LOADING OVERLAY */
.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222;
    z-index: 500;
    opacity: 0.5;
    display: none;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}